<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotelManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC9722F51F5819DE005C4925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC97230B1F5819DE005C4925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC9723161F5819DE005C4925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
